<!-- <div class="row ">
    <div class="col-12 mb-5">
        <div class="col-6 offset-3">
            <app-post-form
            (emitNewPost)="getNewPost($event)"
            [EditPostObj]="editPost"
            (emitUpdatePost)="getUpdatePost($event)"
            ></app-post-form>
        </div>
    </div>
    <div class="row">
        <div>
            <app-post-list [postInfo]="postArr"
            (emitOnRemove)="getRemoveId($event)"
            (emitEditPost)="getEditPost($event)"
            ></app-post-list>
        </div>
    </div>
</div> -->
